.container{
    border: 1px,solid red;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    text-align: center;
    -webkit-text-fill-color: red;
}
#segundoTitulo{
    text-align: center;
    -webkit-text-fill-color: red;
}
.presentacion{
    align-items: center;
    text-align: center;
}
.imgJuegos{
    width: 700px;
    height: 500px;
}